.promo{
    min-height: 100vh;
    background: url('../img/main_bg1.jpg') no-repeat 50%/cover;
    position: relative;
    padding-top: 205px;
    &__title{
        width: 535px;
    }
    &__subtitle{
        z-index: 1;
        padding-left: 12px;
        position: relative;
        @include before_circle;
    }
    &__btns{
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        transition: .5s;
        &:hover{
            color:$main-color;
            font-size: 18px;
            text-decoration: none;
        }
    }
}